@use "abstracts/vars/colors" as c;

.about{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   gap: 2rem;
   margin-bottom: 350px;
   padding: 1rem 1.5rem;
   position: relative;

   @media screen and (min-width: 900px){
      text-align: start;
      flex-direction: row-reverse;
      justify-content: center;
      gap: 100px;

      &:nth-child(3){
         flex-direction: row;
      }
   }

   &:nth-child(2),
   &:nth-child(4){
      background-color: #F6FBFF;

      &::after,
      &::before{
         content: "";
         background-repeat: no-repeat;
         background-size: 100%;
         position: absolute;
         left: 0;
         width: 100%;
         height: 200px;
      }
      
      &::before{
         background-image: url(../assets/img/bg-section-top-mobile-1.svg);
         top: -20%;

         @media screen and (min-width: 900px){
            background-image: url(../assets/img/bg-section-top-desktop-1.svg);
            top: -22%;
            
         }

         @media screen and (min-width: 1440px){
            top: -35%;
         }
         
      }

      &::after{
         background-image: url(../assets/img/bg-section-bottom-mobile-1.svg);
         bottom: -190px;

         @media screen and (min-width: 900px){
            background-image: url(../assets/img/bg-section-bottom-desktop-1.svg);
         }
      }
   }

   &:nth-child(4){
      &::before{
         background-image: url(../assets/img/bg-section-top-mobile-2.svg);
         top: -20%;

         @media screen and (min-width: 768px){
            background-image: url(../assets/img/bg-section-top-desktop-2.svg);
            top: -22%;
         }

         @media screen and (min-width: 1440px){
            top: -40%;
         }
      }

      &::after{
         background-image: url(../assets/img/bg-section-bottom-mobile-2.svg);
         bottom: -190px;

         @media screen and (min-width: 900px){
            background-image: url(../assets/img/bg-section-bottom-desktop-2.svg);
         }
      }
   }

   &__card, &__image{
      position: relative;
      z-index: 100;
   }

   @media screen and (min-width: 900px){
      &__card{
         max-width: 500px;
      }

      &__image{
         max-width: 350px;
      }
   }
   

   &__title{
      font-family: Poppins, sans-serif;
      font-size: 1.3rem;
      margin-bottom: 1.5rem;
      
      @media screen and (min-width: 900px){
         font-size: 1.7rem;
      }

      @media screen and (min-width: 1200px){
         font-size: 2.2rem;
      }
   }

   &__text{
      color: lighten(c.$very-dark-cyan, 10%);
      font-size: 0.9rem;
      font-family: "Open sans", sans-serif;
      line-height: 1.5;

      @media screen and (min-width: 900px){
         font-size: 1.1rem;
      }

      @media screen and (min-width: 1200px){
         font-size: 1.3rem;
      }
   }
}