@use "abstracts/vars/colors" as c;

.get-started{
   text-align: center;
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   
   &__title{
      font-family: Poppins, sans-serif;
      font-size: 1.5rem;
      color: c.$very-dark-cyan;

      @media screen and (min-width: 768px){
         font-size: 2rem
      }
   }

   &__link{
      color: #fff;
      font-family: "Open sans", sans-serif;
      background-color: c.$pink;
      font-size: 0.9rem;
      display: grid;
      place-items: center;
      margin: 3rem auto;
      width: 230px;
      height: 50px;
      border-radius: 2rem;
      box-shadow: 0 5px 15px 1px rgba(#000, 0.3);
      cursor: pointer;

      @media screen and (min-width: 768px){
         width: 280px;
         height: 60px;
      }

      &:active{
         background-color: c.$light-pink;
      }
   }
}