doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Huddle landing page with curved section
      //- Favicons
      link(rel="apple-touch-icon", sizes="57x57", href="assets/favicons/apple-icon-57x57.png")
      link(rel="apple-touch-icon", sizes="60x60", href="assets/favicons/apple-icon-60x60.png")
      link(rel="apple-touch-icon", sizes="72x72", href="assets/favicons/apple-icon-72x72.png")
      link(rel="apple-touch-icon", sizes="76x76", href="assets/favicons/apple-icon-76x76.png")
      link(rel="apple-touch-icon", sizes="114x114", href="assets/favicons/apple-icon-114x114.png")
      link(rel="apple-touch-icon", sizes="120x120", href="assets/favicons/apple-icon-120x120.png")
      link(rel="apple-touch-icon", sizes="144x144", href="assets/favicons/apple-icon-144x144.png")
      link(rel="apple-touch-icon", sizes="152x152", href="assets/favicons/apple-icon-152x152.png")
      link(rel="apple-touch-icon", sizes="180x180", href="assets/favicons/apple-icon-180x180.png")
      link(rel="icon" type="image/png", sizes="192x192",  href="assets/favicons/android-icon-192x192.png")
      link(rel="icon" type="image/png", sizes="32x32", href="assets/favicons/favicon-32x32.png")
      link(rel="icon" type="image/png", sizes="96x96", href="assets/favicons/favicon-96x96.png")
      link(rel="icon" type="image/png", sizes="16x16", href="assets/favicons/favicon-16x16.png")
      link(rel="manifest" href="assets/favicons/manifest.json")
      meta(name="msapplication-TileColor", content="#ffffff")
      meta(name="msapplication-TileImage", content="/ms-icon-144x144.png")
      meta(name="theme-color", content="#ffffff")
      //- CSS
      link(rel="stylesheet", href="css/styles.css")
      //- Fonts
      link(rel="preconnect", href="https://fonts.gstatic.com")
      //- Poppins - Open Sans
      link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap", rel="stylesheet")
      //- Fontawesome
      link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.2/css/all.css",integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu", crossorigin="anonymous")
   body
      header.main-header 
         img.main-header__logo(src="../assets/img/logo.svg", alt="huddle logo")
         a.main-header__link(href="#") Try it free
      main.main 
         article.introduction
            h1.introduction__title Build The Community Your Fans Will Love
            p.introduction__subtitle Huddle re-imagines the way we build communities. You have a voice, but so does your audience. Create connections with your users as you engage in genuine discussion. 
            a.introduction__link Get Started For Free
            .introduction__illustration
            .numbers
               section.numbers__card
                  h2.numbers__amount 1.4k+
                  p.numbers__text Communities Formed
               section.numbers__card.numbers__card--messages
                  h2.numbers__amount 2.7m+
                  p.numbers__text Messages Sent
         article.about
            figure 
               img.about__image(src="../assets/img/illustration-grow-together.svg", alt="grow together illustration")
            .about__card
               h2.about__title Grow Together
               p.about__text Generate meaningful discussions with your audience and build a strong, loyal community. Think of the insightful conversations you miss out on with a feedback form.
         article.about
            figure 
               img.about__image(src="../assets/img/illustration-flowing-conversation.svg", alt="flowing conversation illustration")
            .about__card
               h2.about__title Flowing Conversations
               p.about__text You wouldn't paginate a conversation in real life, so why do it online? Our threads have just-in-time loading for a more natural flow.
         article.about
            figure 
               img.about__image(src="../assets/img/illustration-your-users.svg", alt="your users illustration")
            .about__card
               h2.about__title Your Users
               p.about__text It takes no time at all to integrate Huddle with your app's authentication solution. This means, once signed in to your app, your users can start chatting immediately.
         article.get-started
            h2.get-started__title Ready To Build Your Community?
            a.get-started__link Get Started For Free
      footer.footer 
         .footer__wave
         .footer__body
            form.newsletter
               h2.newsletter__title Newsletter
               p.newsletter__text   To recieve tips on how to grow your community, sign up to our weekly newsletter. We’ll never send you spam or pass on your email address
               .newsletter__inputs
                  .newsletter__email
                     input.newsletter__input(type="email", name="email", aria-label="Email",required)
                     span.newsletter__span Check your email please
                  button.newsletter__submit(type="submit") Subscribe
            .footer__contact
               img.footer__logo(src="../assets/img/logo.svg", alt="huddle logo")
               p.footer__text 
                  | Lorem ipsum dolor sit amet, consectetur
                  br
                  | adipiscing elit. Mauris nulla quam, hendrerit 
                  br
                  | lacinia  vestibulum a, ultrices quis sem.
               a(href="tel:+15431234567").footer__phone Phone: +1-543-123-4567
               a(href="mailto:example@huddle.com").footer__email example@huddle.com
               ul.social-list
                  li.social-list__item
                     a.social-list__link
                        i.fab.fa-facebook.square.social-list__icon
                        span.social-list__screen-reader-only  Go to huddle's facebook
                  li.social-list__item
                     a.social-list__link
                        i.fab.fa-instagram.social-list__icon
                        span.social-list__screen-reader-only  Go to huddle's instagram
                  li.social-list__item
                     a.social-list__link
                        i.fab.fa-twitter.square.social-list__icon
                        span.social-list__screen-reader-only  Go to huddle's twitter